.body{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: rgb(252, 249, 246);
}
.login{
    width: 100%;
    max-width: 330px;
    text-align: center;
}
img{
    width: 50%;
}
.ancho{
    width: 80%;
}
.boton{
    width: 80%;
}
.spiner{
    margin: auto;

}